In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r"D:\DE Projects General\synthetic-retail-data-\Retail_Transactions_Dataset (1).csv", parse_dates = ['Date'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 13 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Transaction_ID     1000000 non-null  int64
 1   Date               1000000 non-null  datetime64[ns]
 2   Customer_Name      1000000 non-null  object
 3   Product            1000000 non-null  object
 4   Total_Items        1000000 non-null  int64
 5   Total_Cost         1000000 non-null  float64
 6   Payment_Method     1000000 non-null  object
 7   City               1000000 non-null  object
 8   Store_Type         1000000 non-null  object
 9   Discount_Applied   1000000 non-null  bool
 10  Customer_Category  1000000 non-null  object
 11  Season             1000000 non-null  object
 12  Promotion          666057 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(8)
memory usage: 92.5+ MB

In [14]:
df[df["Promotion"].isna() ]

,Transaction_ID,Date,Customer_Name,Product,Total_Items,Total_Cost,Payment_Method,City,Store_Type,Discount_Applied,Customer_Category,Season,Promotion
0,1000000000,2022-01-21 06:27:29,Stacey Price,"['Ketchup', 'Shaving Cream', 'Light Bulbs']",3,71.65,Mobile Payment,Los Angeles,Warehouse Club,True,Homemaker,Winter,NaN
2,1000000002,2024-03-21 15:37:04,Lisa Graves,['Spinach'],6,41.49,Credit Card,Houston,Department Store,True,Professional,Winter,NaN
3,1000000003,2020-10-31 09:59:47,Mrs. Patricia May,"['Tissues', 'Mustard']",1,39.34,Mobile Payment,Chicago,Pharmacy,True,Homemaker,Spring,NaN
8,1000000008,2021-04-05 06:32:18,Kimberly Morgan,['Insect Repellent'],4,55.25,Mobile Payment,Los Angeles,Warehouse Club,False,Homemaker,Fall,NaN
9,1000000009,2021-07-08 10:08:59,Lori Conway,"['Soap', 'Baby Wipes', 'Soda']",7,31.21,Mobile Payment,Boston,Convenience Store,True,Young Adult,Winter,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999989,1000999989,2020-09-30 04:13:03,Bonnie Hughes,"['Trash Bags', 'Mayonnaise', 'Soda']",8,49.01,Debit Card,Miami,Department Store,False,Retiree,Summer,NaN
999991,1000999991,2021-08-30 04:16:07,Jamie Nunez,"['Jam', 'Cleaning Spray', 'Cereal']",8,28.07,Mobile Payment,Los Angeles,Department Store,False,Retiree,Winter,NaN
999992,1000999992,2023-05-09 02:22:44,Gabrielle Nelson,"['Laundry Detergent', 'Razors', 'Insect Repell...",7,89.26,Credit Card,Seattle,Pharmacy,False,Homemaker,Spring,NaN
999995,1000999995,2023-03-27 06:12:10,Lisa Gonzalez,"['Pickles', 'Carrots', 'Peanut Butter', 'Spong...",1,22.07,Debit Card,Los Angeles,Supermarket,False,Middle-Aged,Winter,NaN
999997,1000999997,2021-09-03 13:59:39,Cynthia Anderson,['Trash Bags'],3,60.74,Credit Card,Los Angeles,Convenience Store,False,Homemaker,Winter,NaN